on:
  release:
    types: [published, edited]

permissions:
  contents: write

jobs:
  tag-major:
    name: Push major-release
    runs-on: ubuntu-latest
    steps:
      - uses: Actions-R-Us/actions-tagger@latest
        with:
          publish_latest_tag: false